.input {
  background: none;
  border-radius: 12px;
  border-style: groove;
  border-width: 1px solid gray;
  color: white;
  font-size: medium;
  margin-bottom: 0.6rem;
  padding: 1rem;
  outline: none;
}
