// @import "../../stylesheets/abstracts/mixins";

.services {
  background: gray;
  padding: 3rem 3rem;
  align-items: center;

  &__headline {
    padding: 0;

    h1 {
      font-size: 1.6rem;
      line-height: 1.2;
      letter-spacing: 0.1rem;
      margin: 0;
    }
    p {
      color: rgb(215, 221, 223);
      margin: 0;
    }
  }

  &__features {
    display: flex;
    gap: 1rem;
  }
}
