// @import "../../stylesheets/abstracts/mixins";

.services {
  background: gray;
  padding: 3rem 3rem;
  align-items: center;
  margin-top: 40px;
  backdrop-filter: blur(4px);
  background: rgba(30,33,39,0.60);
  border-top: 1px solid #2B2F37;
  border-bottom: 1px solid #2B2F37;
  background-image: url("../../assets/services-lines-background.svg");
  background-position: bottom;
  background-repeat: no-repeat;

  &__headline {
    padding: 0;

    h1 {
      font-size: 1.6rem;
      line-height: 1.2;
      letter-spacing: 0.1rem;
      margin: 0;
    }
    p {
      color: rgb(215, 221, 223);
      margin: 0;
    }
  }

  &__features {
    display: flex;
    gap: 1rem;
  }
}
