.card {
  border-radius: 10px;
  min-height: 240px;
  max-height: 250px;
  padding: 1rem;
  margin: 15px;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
    min-height: 75px;

    img {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      border: 1px solid #fff;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.2);
    }

    h2 {
      font-size: 1rem;
      line-height: 1.1;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
  }
}
