.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #c8c8c8 50%, transparent);
  }
}
