.transactions {
  overflow-y: auto;
  max-height: 95%;

  &--headline {
    text-align: center;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transaction-list {
    width: 100%;
  }
}
